$main-color: #77ccff;
$secondary-color: #3388ff;

@mixin onMobile {
  @media (max-width: 639px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

.container {
  display: block;
  max-width: 320px;
  margin: 0 auto;

  @include onTablet {
    max-width: 640px;
  }

  @include onDesktop {
    max-width: 1200px;
  }
}

.pass {
  &__container {
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 80vh;

    @include onTablet {
      display: flex;
    }
  }
}
.img__container {
  height: 150px;
  width: 100%;

  @include onTablet {
    visibility: visible;
    margin-right: 25px;
    padding: 10px;
  
    height: 250px;
    width: 350px;
  
    border-radius: 25px;
    background-color: $main-color;
  }
}

.img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}