$main-color: #77ccff;
$secondary-color: #3388ff;

@mixin onMobile {
  @media (max-width: 639px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

.main_container {
  box-sizing: border-box;
  max-width: 320px;
  margin: 0 auto;
  font-family: inherit;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 90vh;

  @include onTablet {
    flex-direction: column;
  }

  @include onDesktop {
    flex-direction: row;
    margin: 0 auto;
    max-width: 1200px;
  }
}

.password {
  display: inline;
  padding: 10px;
  margin-left: 20px;
  max-width: 250px;

  background-color: white;
  color: #000;
  word-wrap: break-word;

  font-size: 24px;
  border: 1px solid $main-color;
  border-radius: 8px;

  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
    color: #fff;
  }

  @include onTablet {
    min-width: 250px;
    margin: 20px 75px;
  }

  @include onMobile {
    margin: 20px 0;
  }
}

.container {
  height: auto;
  padding: 20px;
  margin-right: 20px;

  background-color: #fff;
  border: 2px solid $main-color;
  border-radius: 15px;

  @include onTablet {
    margin-right: 0;
    max-width: 640px;
  }

  @include onMobile {
    margin-right: 0;
    max-width: 250px;
  }
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;

  @include onTablet {
    max-width: 640px;
  }

  @include onMobile {
    max-width: 250px;
  }
}

.number,
select {
  box-sizing: border-box;
  border: 1px solid $main-color;
  padding: 5px;
  margin: 0px;
  outline: none;
  border-radius: 8px;
}

.number:focus,
select:focus {
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid $main-color;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  text-align: center;
}

.submit {
  height: 50px;

  background: rgb(250, 96, 122);
  cursor: pointer;
  border-radius: 8px;
  padding: 15px 20px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: medium;

  &:hover {
    background: rgb(255, 65, 97);
    box-shadow: none;
  }
}

.checkbox {
  accent-color: $main-color;
  height: 25px;
  width: 25px;
}